
.icon-mail:before { content: '\e800'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-up-open:before { content: '\e808'; } /* '' */
.icon-cc:before { content: '\e809'; } /* '' */
.icon-cc-by:before { content: '\e80a'; } /* '' */
.icon-cc-nc:before { content: '\e80b'; } /* '' */
.icon-cc-sa:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-researcherid:before { content: '\e91a'; } /* '' */
.icon-publons:before { content: '\e937'; } /* '' */
.icon-open-access:before { content: '\e939'; } /* '' */
.icon-researchgate:before { content: '\e95e'; } /* '' */
.icon-doi:before { content: '\e97e'; } /* '' */
.icon-figshare:before { content: '\e981'; } /* '' */
.icon-pubmed:before { content: '\e99f'; } /* '' */
.icon-biorxiv:before { content: '\e9a2'; } /* '' */
.icon-cv:before { content: '\e9a5'; } /* '' */
.icon-academia:before { content: '\e9af'; } /* '' */
.icon-google-scholar:before { content: '\e9d4'; } /* '' */
.icon-orcid:before { content: '\e9d9'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */