@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces-9ptBlack.woff2') format('woff2'),
        url('Fraunces-9ptBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces-9ptBlack.woff2') format('woff2'),
        url('Fraunces-9ptBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

