

/* this file overrides default Tailwind styling ??

  - this file is watched and converted by PostCSS

  Tailwind tends to override some things like link styling:
  https://stackoverflow.com/questions/63883580/tailwind-css-how-to-style-a-href-links-in-react 

*/
// @font-face {
//   font-family: 'Fraunces';
//   src: url('/fraunces/Fraunces-9ptBlack.woff2') format('woff2'),
//     url('/fraunces/Fraunces-9ptBlack.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Fraunces';
//   src: url('/fraunces/Fraunces_72pt_SuperSoft-Light.woff') format('woff2'),
//     url('/fraunces/Fraunces-9ptBlack.woff') format('woff');
//   font-weight: light;
//   font-style: normal;
//   font-display: swap;
// }

// @import '@fontsource/inter';
// @import '@fontsource/inter/300';
// @import '@fontsource/inter/400';
// @import '@fontsource/inter/700';
/* @import '@fontsource/fira-mono'; */


@tailwind base;
@tailwind components;
@tailwind utilities;


// 
//    MAIN PROJECT THEMES / STYLES
// 
//    base :root styles are in /baseline
@import './lib/themes/baseline';

// social fonts
// @import "$plasmid/themes/templates/social";
@import "./lib/themes/social";
// @import "./lib/themes/prism";

// include coeur templates if needed; treated as a separate theme
// @import './lib/themes/coeur';
// @import './lib/themes/elements';

// Additional project styling
@import "$plasmid/themes/tw";



/* 
  Reused, compartmentalized styles
*/
@mixin notionStyles {
  .notion {
    font-family: Inter, sans-serif !important;
  }
  .notion-list, .notion-list-disc {
    ul { padding-inline-start: 0; }
    li { list-style-position: outside;}
  }

}
@mixin postStyles {
  .Posts {
    .Post-name { @apply text-xl; }
  }
}
// @mixin profileStyles {

// }


/* 

  Base BLOGALOG themes

*/
@mixin sharedStyles {
  // general styles
  font-family: Inter, sans-serif;
  font-size: 1em;
  color: var(--color-base);
  p {
    @apply pb-3 mt-0 pt-0;
  }
  // Add any other styles you want
  a,._link { 
    @apply no-underline text-blue-600 cursor-pointer;
    &:hover { @apply underline text-blue-600/80; }
  }
  ._link-reset {
    @apply no-underline hover:no-underline text-inherit;
    text-decoration: none !important;
    color: var(--color-base);
  }

  // specific component styles
  .headline {
    @apply font-display;
    text-rendering: geometricprecision;
  }

  // for narrative pages / longform
  .Narrative {
    img {
      @apply rounded-md;
    }
  }

  .text-light {
    @apply text-slate-600;
  }

  // preloaded global tw styles for airtable/notion classes
  .tw-border-blue-600 {
    @apply border-blue-600;
  }

  // Blogs, Case studies / dynamic routed stuff from Notion
  .PageContent .notion-page {
    margin-left: 0; // left-align
  }

  h1 {
    @apply font-sans leading-tight text-3xl lg:leading-tight mb-4 font-bold;
  }
  h2 {
    // @apply font-sans text-2xl leading-12 pb-6 ;
    @apply font-sans leading-tight text-2xl mb-2 font-bold;
    &.--extra {
      @apply text-4xl mb-2 tracking-tight;
    }
    &+h3 {padding-top: 0;}
  }
    //  
    *+h1,*+h2,*+h3,*+h5,*+h6 { 
      @apply pt-12
    }
  h3 {
    @apply font-sans text-xl leading-12 mb-2 text-slate-800;
  }
  h4 {
    @apply text-lg mb-2;
  }
  h5 {
    @apply font-sans leading-snug text-xs uppercase tracking-widest mb-2 text-slate-500;
  }
  h6 {
    @apply text-xs tracking-wide uppercase mb-2;
  }

  @include notionStyles;
  @include postStyles;
  // @include profileStyles;
}
























.project-BLOGALOG {
  @include sharedStyles;
}









// janzheng.com-specific styles
.style-janzheng {
  @include sharedStyles;

  h1 {
    @apply font-serif leading-tight text-4xl lg:leading-tight pb-8 font-light;
  }
    h1.article-title  {
      @apply text-6xl md:text-5xl font-display font-bold leading-tight pb-8
    }
  h2 {
    @apply font-serif text-2xl leading-12 pb-6 ;

    &.--extra {
      @apply text-4xl pb-2 tracking-tight;
    }

    // &~h3 { messes with faq pages; only do this for nearest neighb
    &+h3 {
      padding-top: 0;
    }
  }
    *>h1,*>h2,*>h3,*>h5,*>h6 { 
      @apply pt-12
    }
  h3 {
    // @apply text-xl pb-6
    @apply font-serif text-xl pt-8 pb-2 text-jan;
  }
  h4 {
    @apply text-lg pb-4;
  }
  h5 {
    @apply font-bold pb-4;
  }
  h6 {
    @apply text-xs tracking-wide uppercase pb-2;
  }

  p {
    @apply pb-4;
  }


  a, ._link {
    @apply no-underline text-jan cursor-pointer;

  }
    a:hover {
      @apply underline text-jan;
    }

    ._link-reset {
      @apply no-underline hover:no-underline text-inherit;
      text-decoration: none !important;
      color: var(--color-base);
    }
    

  .text-jan-i {
    color: #971f1f !important;
  }
}










// 
// non-project specific /// future baseline styles
// 

.code {
  position: relative;
}

code {
  display: inline-block;
  padding: 0.4em;
  font-size: 14px;
  line-height: 14px * 1.4;
  font-family: "fira-mono", monospace;
  background: #333;
  color: #fdce93;
}

.snug, .psnug, .pfix, .paraWrap {
  // removes padding of last paragraph of a rendered markdown block
  // to create snug-ness
  p:last-child {
    padding-bottom: 0;
  }
  &--i {
    padding-bottom: 0 !important;
  }
}
.inlinep, .pinline {
  p { display: inline; }
}


details summary {
  cursor: pointer;
  padding-bottom: 8px;
}


.content-pad {
  @apply px-8 md:px-32 py-8;
}
